.nav {
	border: solid green 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;

	h1 {
		color: red;
        padding-left: 20px;
	}

	ul {
		list-style: none;
	}
}

.menu {
	ul li {
		display: inline;
		padding: 0 20px 0  20px;
		
        
	}
}
